/*== $ Color ==*/
	$background-white:#fff;
	$base-hover-background:#FCB713;
	$base-hover-background-2:#3f0b35;
	$base-hover-color:#FCB713;
	$base-color-recruit:#470A3C;
	$color-white:#fff;
	$color-black:#000;
/*== End $ Color ==*/