/*== OWL ==*/
.owl-theme .owl-nav [class*=owl-] {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  background: none;
  width: 20px;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
}
.owl-prev {
  left: 0px;
  img {
      transform: rotate(180deg);
  }
}
.owl-next {
  right: 0px;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  opacity: .5;
  background:none;
}
.owl-theme .owl-nav{
  margin:0;
}
.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  background: $color-white;
  border: 2px solid $base-hover-background;
  margin: 5px 4px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: linear-gradient(#B57E10 0%, #F9DF7B 100%);
  border:transparent;
}
/*== End OWL ==*/